In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/titanic.csv')

In [4]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64